.container {  display: grid;
    grid-template-columns: 1fr 312px;
    grid-template-rows: 80px 67px 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 18px 18px;
    grid-auto-flow: row dense;
    grid-template-areas:
      "title title"
      "description button"
      "description details"
      "description details";
    width: 100%;
    height: 100%;
  }
  
  .title { grid-area: title; }
  
  .button { grid-area: button; }
  
  .description { grid-area: description; }
  
  .details { grid-area: details; }
  